.order-section {
    background: url(../img/order/order.png); //Local
    // для git
    // background: url(../../../WebBeginer/img/order/order.png);

    background-size: cover;
    background-position: center;
    color:#fff;
}