.product__characteristics {
    display: flex;
    width: rem(91px);
    position: relative;
    margin: 0 0 6% 0;
    cursor: pointer;

    @include tablets {
        display: none;
        visibility: hidden;
    }

    &:hover {
        .product__characteristics-block {
            display: block;
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }
    }

    .product__characteristics-block {
        // display: none;
        visibility: hidden;
        position: absolute;
        background:#fff;
        width: rem(273px);
        height: rem(294px);
        top: 0;
        left:rem(91px);
        padding: 36% 28%;
        border-radius: 2%;
        color: #000;
        transition: .3s ease-in;
        opacity: 0;

        .product__characteristics-row {
            display: flex;
        
            margin: 0 0 12% 0;
        
            &:last-child {
                margin: 0 0 0 0;
            }
        
            .product__characteristics-col {
        
                &:first-child {
                    margin: 0 7% 0 0;
                }
        
                &:nth-child(2) {
                    flex: 1;
                }
            } 
        } 
    }
}



